<main>
    <div class="globalContainer">
      <!--FORMULÁRIO DE LOGIN-->
    <div class="sign-in">
    <form (formGroup)="formLogin">
        <h2 class="sub-title">Login</h2>
        <div>
            <mat-label>Usuario</mat-label>
            <input type="text" autocomplete="nope" name = "usuario" class="input-block" id="id" matInput placeholder="Usuario" formControlName="usuario">
            <mat-label>Senha</mat-label>
            <input class="input-block" name = "senha" matInput [type]="hide ? 'password' : 'text'" formControlName="senha">
            <div class="checkbox">
                <div class="boxes input-center">
                    <input type="checkbox" id="rm-data" class="input-checkbox "><label for="rm-data">Lembrar credenciais.</label>
                </div>
            </div>
            <button type="button" id="logar" class="input-block bg-primary" (click)="login()">Logar</button>
        </div>
    </form>
    </div>
    <div class="sign-up">
        <mat-card (submit)="onFormCadastroSubmit()">
            <h2 class="sub-title">Cadastro</h2>
             <div>
                 <mat-label>Nome</mat-label>
                 <input type="text" id = "nome" name="nome" autocomplete="nope" class="input-block" matInput placeholder="Nome" formControlName="nome" (ngModel)="admin.nome" #nome>
                 <input type="text"  name="usuario" autocomplete="nope" class="input-block" matInput placeholder="Usuario" formControlName="usuario" (ngModel)="admin.usuario" #usuario>
                 <input type="password"  name="senha" class="input-block" matInput [type]="hide ? 'password' : 'text'" formControlName="senha" (ngModel)="admin.senha" #senha>
                 <input type="password" name="senhaConfirma" class="input-block" minlength="8" matInput [type]="hide ? 'password' : 'text'" formControlName="senhaConfirma">
                 <input type ="hidden"  name = "roles" formControlName = "roles">
                 <mat-label>Administrativo</mat-label>
                 <div *ngFor=" let favOpcao of opcoes">
                    <label for="{{favOpcao}}">
                      <input id="{{favOpcao}}" [value]='favOpcao' type="radio" name="opcoes" (ngModel)="opcao" #opcao>
                      {{favOpcao}}
                    </label>
                </div>
                 <button type="button" id="confirma" class="input-block bg-primary" name="confirma" (click)="onFormCadastroSubmit()">Cadastre-se</button>
                </div>
            </mat-card>
    </div>
    <div id="overlay" class="over" #overlay>
            <div class="info">
            <p class="info-text">Bem vindo! Oque deseja fazer?</p>
            <button class="bg-dark text-light" id="flip-to-login" (click)="flipToLogin()">Login</button>
            <button class="bg-primary text-light" id="flip-to-signup" (click)="flipToSignup()">Cadastro</button>
             </div>
    </div>

    </div>
        <div class="alert hide" #alert>
            <span class="fas fa-exclamation-circle">!</span>
            <span class="msg" #msg>Atenção:</span>
            <span class="close-btn">
                    <span class="fas fa-times">X</span>
            </span>

        </div>
</main>
