<mat-toolbar *ngIf="(user$ | async)?.user">
<header>
    <ul class="navigation nav">
        <li><div id="usuariologado" class="navigation__link"></div></li>
        <li><a class="navigation__link" href="#" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" role="tab" aria-controls="profile" aria-selected="false" routerLink ="/home" [routerLinkActive]="['active']" *ngIf="(user$ | async)?.acesso?.includes('ROLE_USER')">Menu</a></li>
        <li><a class="navigation__link active" href="#" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" role="tab" aria-controls="profile" aria-selected="true">Cadastro</a></li>
        <li><a class="navigation__link" href="#" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" role="tab" aria-controls="contact" aria-selected="false">Pesquisa</a></li>
        <li><a class="navigation__link" href="#" id="adm-tab" data-bs-toggle="tab" data-bs-target="#adm" role="tab" aria-controls="adm" aria-selected="false" routerLink="/dashboard" [routerLinkActive]="['active']" *ngIf="(user$ | async)?.acesso?.includes('ROLE_ADMIN')">Administrativo</a></li>
        <li><a href="#" id="sair" class="navigation__link" (click)="sair()">Sair</a></li>
    </ul>
</header>
</mat-toolbar>